@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('satoshi.css');

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary-hover: 221.2 83.2% 53.3%;
    --primary: 212, 95%, 57%, 1;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: 'Satoshi-Variable' !important;
}

.navScrollBarStyles::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
.navScrollBarStyles::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #f6f9ff;
}

/* Show scrollbar thumb only when scrolling or hovering */
body::-webkit-scrollbar-thumb,
.navScrollBarStyles::-webkit-scrollbar-thumb {
  background: transparent; /* Initially hidden */
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
}

/* Show scrollbar thumb when hovering or scrolling */
.navScrollBarStyles:hover::-webkit-scrollbar-thumb,
.navScrollBarStyles:active::-webkit-scrollbar-thumb {
  background: #dadce0;
}

.scrollBarStyles::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */

.scrollBarStyles::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
body::-webkit-scrollbar-thumb,
.scrollBarStyles::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: #dadce0;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover,
.scrollBarStyles::-webkit-scrollbar-thumb:hover {
  background: #c6c7c9;
}

/* Style the label when the radio input is checked */
input[type='radio']:checked + label {
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid hsl(var(--primary));
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

/* global.css */
.quill-container .ql-toolbar {
  @apply rounded-t-lg border-b border-gray-300 bg-gray-100;
}

.quill-container .ql-container {
  @apply rounded-b-lg bg-white; /* Adjust height */
}

.quill-container .ql-editor {
  @apply p-4 leading-relaxed text-gray-800;
}

.quill-container .ql-toolbar .ql-formats button {
  @apply hover:bg-gray-200;
}

.quill-container img {
  display: flex;
  gap: 2rem;
  max-width: 100%; /* Ensure images don't exceed container width */
  height: auto; /* Maintain aspect ratio */
  width: 15%; /* Set default width to 50% of the container */
}

.isImageComment img {
  max-width: 25%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
}

.infinite-datatable-scrollable-body {
  overflow-anchor: none;
}
